body {
    background-color: #d1baba;

}

.header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 35px;

}

.main {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.container {
    display: flex;
    justify-content: flex-start;
    width: 1000px;
    height: 700px;
    box-sizing: border-box;
    border-color: white;
    border-width: 10px;
    border-style: double;
}

.container-l {
    display: flex;
    width: 25%;
    flex-direction: column;
    background-color: #e5d9d9;
    box-sizing: border-box;
    border-right-color: white;
    border-right-width: 10px;
    border-right-style: dashed;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 38px;
}

.topbuttons {
    font-size: 28px;
    padding: 8px 30px;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Lobster', cursive, sans-serif;
    background-color: #f1ebeb;
    color: #9c6f6f;
}

#grid {
    width: 750px;
    height: 680px;
    background-color: white;
    display: grid;
}

.square {
    background-color: white;
}

.color-picker {
    display: flex;
    flex-direction: column;
    width: 231px;
    height: 150px;
    align-items: center;
}

.colorpicker-text {
    font-size: 24px;
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    color: #624343;
}

#colorPicker {
    height: 25px;
    width: 100px;
    cursor: pointer;
}

.container-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.grid-change>p {
    font-family: 'Caveat', cursive, sans-serif;
    font-size: 24px;
    color: #624343;
}

.slider-value {
    color: #624343;
    font-size: 18px;
}

.slider {
    -webkit-appearance: none;
    height: 8px;
    border-radius: 4px;
    margin-bottom: 12px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: rgb(98, 67, 67);
    overflow: visible;
    cursor: pointer;
}